.services {
  &-section {
    background-color: #e5e5e5;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &-title {
    font-family: $ffMain;
    font-size: 28px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 27px;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding-left: 29px;
      position: relative;
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 30px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        width: 7px;
        height: 7px;
        border: 2px solid $primary;
      }
    }
  }
}

.team {
  display: flex;

  &-img {
    flex-shrink: 0;
    margin-right: 54px;
    margin-top: 58px;
  }

  &-position {
    font-size: 16px;
    color: #707070;
    margin-top: 39px;
  }

  &-name {
    font-family: $ffHeader;
    font-size: 24px;
    margin-top: 19px;
    margin-bottom: 35px;
    max-width: 223px;
  }

  .btn {
    min-width: 246px;
    min-height: 65px;
    text-transform: uppercase;
    font-size: 18px;
  }

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    justify-content: center;

    &-img {
      margin-top: 20px;
    }

    &-text {
      margin-top: 10px;
    }

    &-position {
      margin-top: 10px;
    }

    &-name {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
