doctype html
html(lang="ru")
  include includes/head.pug
  body.page
    .page-start
      include includes/header.pug
      include includes/mobile-menu.pug
    .page-body.about-page
      .container
        ul.breadcrumbs
          li
            a(href="#") Главная
          li
            span Пациентам
        .row
          .col.col-lg-8.col-12
            h1.article-title Консультативно-диагностическое отделение
        .row.under-title
          aside.col.col-lg-3.col-12
            .sidebar
              ul.sidebar-list
                li.active
                  a(href="#") Консультативно-диагностическое отделение
                li
                  a(href="#") Платные услуги
                li
                  a(href="./team.html") Врачи - специалисты

          .col.col-lg-6.col-12.offset-lg-2.article
            article
              h2 Консультативно-диагностическое отделение
              ul
                li Консультативное – диагностическое отделение специализируется на оказании консультативно - диагностической медицинской помощи контингенту и взрослому населению с использованием новейших технологий и доказательной медицины в диагностике и лечении заболеваний.
                li Бесплатно услуги оказываются  прикрепленному контингенту:
                li Участники и инвалиды Великой Отечественной войны;
                li Вдовы участников Великой Отечественной войны;
                li Воины интернационалисты (ВИ);
                li Ликвидаторы, последствий аварии на Чернобыльской АЭС (ЛПИИ-Ч), лица, пострадавшие в результате деятельности Семипалатинского ядерного полигона (ЛПИИ-С);
                li Реабилитированные жертвы массовых политических репрессий (ЖР), семьи, погибших воинов (СП);
                li Персональные пенсионеры за особые заслуги перед Республикой Казахстан (ГР – гражданская группа) и их супруги.

              p Оформление медицинских осмотров и оформление всех видов медицинских справок, включая медицинские анализы и рентген; проведение экспертизы временной нетрудоспособности с выдачей и продлением листка нетрудоспособности; проведение лабораторных исследований; рентген;
              p Запись на прием и  подробная информация: В регистратуре ЦКГИОВ - 8 717 2 32 39 70;
              p По телефонам предварительной записи: 8 708 425 19 40;
              p Сохранение здоровья и улучшение качества жизни!

      .article-end
        include includes/external
    .page-end
      include includes/footer.pug
