doctype html
html(lang="ru")
  include includes/head.pug
  body.page.page--white
    .page-start
      include includes/header.pug
      include includes/mobile-menu.pug
    .page-body
      include includes/main-slider
      include includes/mission
      include includes/services
      include includes/news
      include includes/media
      include includes/signs
      include includes/external
    .page-end
      include includes/footer.pug
