doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body.page
    .page-start
      include includes/header.pug
      include includes/mobile-menu.pug
    .page-body.about-page
      .container
        ul.breadcrumbs
          li
            a(href="#") Главная
          li
            span Государственные закупки
        .row
          .col.col-lg-7.col-12
            h1.article-title Итоги конкурса рисунков "Победа, Здоровье, Весна"
          .col.col-auto.ml-auto
            .post-date 03 апреля 2020 год
        .row.under-title
          .col.col-12.col-lg-8.offset-lg-2.article
            p Министерство здравоохранения реформировало работу скорой медицинской помощи: вызовы разделили на четыре категории, и экстренная помощь оказывается только тем, кто в ней действительно нуждается. Казахстанцы приняли реформу неоднозначно, но медики уверяют — если правильно понять проблему и решить ее, количество вызовов уменьшится, люди начнут следить за своим здоровьем, а бригады скорой помощи будут приезжать максимум за 10 минут и спасать жизни. О нововведениях рассказал директор РГП на ПХВ «Республиканский центр санитарной авиации» Министерства здравоохранения страны Нуржан Отарбаев.
            .big-image
              img(src="./images/press-1.png")
            p <b>— Нуржан Курмангалиевич, давайте начнем с того, чем обоснована реформа скорой медицинской помощи?</b>
            p — Этот вопрос обсуждался в течение многих лет, потому что нагрузка на скорую помощь ежегодно увеличивается на 500 тысяч звонков. Мы понимали, что буквально через 5-7 лет будет поступать не 8 миллионов звонков в год, как сейчас, а гораздо больше. И это путь в никуда. Нам всегда будет не хватать машин, оборудования, кадров, они все время будут перегружены, соответственно, у нас не будет своевременного доезда и качества оказания этой медицинской помощи. Изучив международный опыт, мы поняли, что в других странах нет такого количества вызовов. У нас на душу населения этот показатель доходит до 0,4-0,5, то есть каждый второй житель вызывает скорую помощь раз в год. В зарубежных странах этот показатель в 5 раз меньше. Они меньше болеют? Нет, они также болеют. У них меньше хронических болезней? Нет. Тем более, продолжительность жизни в некоторых странах еще больше. Нельзя сказать, что они здоровее – уровень заболеваемости практически везде одинаковый, но они действительно меньше вызывают скорую помощь.
            p <b>— Почему?</b>
            p — Человек должен научиться сам регулировать некоторые моменты в своем здоровье. А лучше всего это объяснит его участковый врач.
            p <b>— Это та самая солидарная ответственность?</b>
            p — Солидарная ответственность – это ответственность с двух сторон. И это действует на всех уровнях: будь то поликлиника, будь то стационар или скорая помощь. Везде должна быть четкая и эффективная коммуникация, без этого будет просто глухой звонок в одну дверь. Поэтому здесь несколько таких направлений. Вот, к примеру, в Америке, Европе, здоровый образ жизни - это не просто слова. И когда видишь их с утра бегающими, спрашиваешь: «Вам что делать нечего? В 6-7 утра бегать….». «Как, а вы знаете какое у нас дорогое здравоохранение? Я не хочу болеть, я не хочу тратить эти деньги на лечение, я лучше буду рано вставать, бегать, следить за собой. Это мне дешевле, это мне в удовольствие».

      .article-end
          include includes/external

    .page-end
      include includes/footer.pug
