doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body.page
    .page-start
      include includes/header.pug
      include includes/mobile-menu.pug
    .page-body.about-page
      .container
        ul.breadcrumbs
          li
            a(href="#") Главная
          li
            span Государственные закупки
        .row
          .col.col-lg-7.col-12
            h1.article-title.article-title--small Объявление о проведении закупа изделий медицинского назначения, способом запроса ценовых предложений № 16
          .col.col-auto.ml-auto
            .post-date 03 апреля 2020 год
        .row.under-title
          .col.col-12.col-lg-8.offset-lg-2.article
            ol
              li 
                span Заказчик: Республиканское государственное предприятие на праве хозяйственного ведения «Центральный клинический госпиталь для инвалидов Отечественной войны» МЗ РК, 010000 г. Нур - Султан, район Сарыарка, ул. А. Мамбетова, 28 объявляет о проведении закупа следующих товаров:
            
            table.table-big
              tr
                th Наименование лекарственного средства (международное непатентованное название или состав)
                th Техническая характеристика
                th Ед. изм. -1шт (ампула, таблетка, капсула, флакон)
                th Кол-во
                th Цена
                th Сумма
              tr
                td 1&nbsp;&nbsp;&nbsp;&nbsp;Линекс
                td Лебенин® порошо 280, (в 1 г порошка содержится: Lactobacillus acidophilus — 300 мг, Bifidobacterium infantis — 300 мг, Enterococcus faecium — 300 мг, лактоза — 50 мг, крахмал картофельный — 50 мг), магния стеарат — 8,4 мг, оболочка капсулы: метилгидроксибензоат — 0,19 мг; пропилгидроксибензоат — 0,08 мг; титана диоксид (Е171) — 0,98 мг; желатин — до 63 мг.
                td капс
                td 960
                td 108,75
                td 104400
              tr
              tr
                td 2&nbsp;&nbsp;&nbsp;&nbsp;Аскорбиновая кислота
                td драже  0,05 мг
                td драже
                td 1000
                td 1,05
                td 1050
              tr
                td 3&nbsp;&nbsp;&nbsp;&nbsp;Ревит
                td драже  0,05 мг
                td драже
                td 800
                td 21
                td 16800
              tr
                td 4&nbsp;&nbsp;&nbsp;&nbsp;Супрастин
                td таблетка 25 мг
                td таб
                td 100
                td 70,25
                td 7025
              tr
                td 5&nbsp;&nbsp;&nbsp;&nbsp;Нафтизин
                td капли нозальные 0,1% 10мл
                td фл
                td 150
                td 90
                td 13500
              tr
                td <b>Итого:</b>
                td
                td
                td
                td
                td 142775

            ol(start="2")
              li 
                span <b>Сумма, выделенная для закупа без учета НДС.</b>
              li 
                span <b>Место поставки товара:</b> г. Нур – Султан, район Сарыарка, ул. А. Мамбетова, 28, аптека.
              li 
                span <b>Срок поставки товара:</b> По заявке заказчика до 31 декабря 2020 года.
              li 
                span <b>Условия поставки:</b> Доставить товар на склад ИМН своим транспортом по количеству, качеству, ассортименту указанным в данном объявлении, в указанные сроки.
              li 
                span Пакет документов с ценовыми предложениями представить в срок с 06 апреля 2020 года, с 11 ч 00 мин до 13 апреля 2020 года, до 11 ч 00 мин включительно, по адресу: 010000 г. Нур - Султан, район Сарыарка, ул. А. Мамбетова, 28 бухгалтерия, кабинет государственных закупок. Окончательный срок подачи ценовых предложений до 11 часов 00 минут 13 апреля 2020 года.   Конверты с ценовыми предложениями будут вскрываться в 11 часов 15 минут «13» апреля 2020 года по адресу г. Нур - Султан, район Сарыарка, ул. А. Мамбетова, 28 бухгалтерия, кабинет государственных закупок.
              li 
                span Каждый потенциальный поставщик до истечения окончательного срока представления ценовых предложений представляет только одно ценовое предложение в запечатанном виде. Конверт содержит ценовое предложение по форме, утвержденной уполномоченным органом в области здравоохранения, разрешение, подтверждающее права физического или юридического лица на осуществление деятельности или действий (операций), осуществляемое разрешительными органами посредством лицензирования или разрешительной процедуры, в сроки, установленные заказчиком или организатором закупа, а также документы, подтверждающие соответствие предлагаемых товаров требованиям, установленным главой 4 Правил 1729.

            p Глава 4 Правил 1729:
            p К закупаемым лекарственным средствам, изделиям медицинского назначения, профилактическим (иммунобиологическим, диагностическим, дезинфицирующим) препаратам, предназначенным для оказания гарантированного объема бесплатной медицинской помощи и медицинской помощи в системе обязательного социального медицинского страхования, предъявляются следующие требования:
            p 1) наличие регистрации лекарственных средств, изделий медицинского назначения, профилактических (иммунобиологических, диагностических, дезинфицирующих) препаратов в Республике Казахстан в соответствии с положениями Кодекса и порядке, определенном уполномоченным органом в области здравоохранения (за исключением лекарственных препаратов, изготовленных в аптеках, орфанных препаратов, включенных в перечень орфанных препаратов, утвержденный уполномоченным органом в области здравоохранения, незарегистрированных лекарственных средств, изделий медицинского назначения, комплектующих, входящих в состав изделия медицинского назначения и медицинской техники и не используемых в качестве самостоятельного изделия или устройства, ввезенных на территорию Республики Казахстан на основании заключения (разрешительного документа), выданного уполномоченным органом в области здравоохранения);

        .container
          .row
            .col-12.col-lg-10.offset-lg-1
              .row.download-wrap
                .col.col-lg-4.col-12
                  h3.download-title Файлы для скачивания

                .col.col-lg-4.col-sm-6.col-12
                  a(href="#").download-item
                    .download-item-img
                      .download-item-icon
                        span pdf
                      .download-item-size 425 Kb
                    .download-item-text Форма ценового предложения: Ценовое предложение потенциального поставщика

                .col.col-lg-4.col-sm-6.col-12
                  a(href="#").download-item
                    .download-item-img
                      .download-item-icon
                        span pdf
                      .download-item-size 425 Kb
                    .download-item-text Форма ценового предложения: Ценовое предложение потенциального поставщика

    .page-end
      include includes/footer.pug
