section.external-section
  .container
    .row
      .col.col-12.col-sm-6.col-lg-3.mb-4
        .bordered-block
          a.external-link(href="#" target="blank").
            Государственные услуги
            и информация онлайн
      .col.col-12.col-sm-6.col-lg-3.mb-4
        .bordered-block
          a.external-link(href="#" target="blank").
            Информационно-правовая система
            нормативных  Республики Казахстан
      .col.col-12.col-sm-6.col-lg-3.mb-4
        .bordered-block
          a.external-link(href="#" target="blank").
            Сайт проезидента РК
      .col.col-12.col-sm-6.col-lg-3.mb-4
        .bordered-block
          a.external-link(href="#" target="blank").
            Министерства финансов Республики Казахстан
