footer.footer
  .container
    .row
      .col.col-auto.col-lg-5.mb-4
        .footer-text РГП на ПВХ «Центральный клинический госпиталь дляинвалидов Отечественной войны»
        address.footer-address
          | 010000, г. Нур-Султан, <br>ул. Азербайжан Мамбетов, 28

      .col.col-12.col-lg-3.offset-lg-1.col-md-6.mb-4
        ul.footer-menu
          li
            a(href="#") О госпитале
          li
            a(href="#") Корпоративное управление
          li
            a(href="#") Пациентам
          li
            a(href="#") Пресс центр
          li
            a(href="#") Государственные закупки
          li
            a(href="#") Полезная информация

      .col.col-12.col-lg-3.col-md-6
        .footer-tel
          span Телефон доверия<br>
          a(href="tel:+77172326960") +7 7172 326960

        .footer-soc
          span Мы в социальных сетях<br>
          a(href="#")
            img(src="./images/icons/facebook.svg")
          a(href="#")
            img(src="./images/icons/youtube.svg")
          a(href="#")
            img(src="./images/icons/instagram.svg")

    .row.footer-copy
      .col.col-12.col-md-auto © 2020 . Все права защищены
      .col.col-12.col-md-auto.ml-auto
        | Сделано в 
        a(href="https://smarty.kz" target="_blank") Smarty