//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not '../images/image.jpg'
header.page-start
  .top-bar
    .container.h-100
      .row.align-items-center.h-100
        .col.col-lg-3
          a(href="#").top-bar-link Министерство здравоохранения Республики Казахстан
        .col
          ul.top-bar-list
            li
              a(href="#") Государственны закупки
            li
              a(href="#") Полезная информация
        .col.col-lg-2
          .top-bar-soc
            a(href="#")
              img(src="./images/icons/facebook.svg")
            a(href="#")
              img(src="./images/icons/youtube.svg")
            a(href="#")
              img(src="./images/icons/instagram.svg")
        .col.col-lg-2
          .top-bar-tel
            a(href="tel:+77172251940") +7 7172 251940
        .col.col-lg-1
          .top-bar-lang.dropdown
            button.top-bar-lang-selected.btn.btn-primary.dropdown-selected.dropdown-toggle(data-toggle="dropdown") Русский
            .top-bar-lang-drop.dropdown-menu
              a(href="#") Русский
              a(href="#") Казахский
              a(href="#") Английский
  .navbar
    .container
      .row.w-100.align-items-center
        .col.col-auto
          .navbar-logo
            a(href="#")
              img(src="./images/logo.svg")
        .col.col-auto.mx-auto.d-md-block.d-none
          ul.navbar-menu
            li.active
              a(href="#") О госпитале
            li
              a(href="#") Корпоративное управление
            li
              a(href="#") Пациентам
            li
              a(href="#") Пресс центр
        .col.col-auto.d-md-block.d-none
          form.navbar-search
            input(id="site-search")
            button(type="submit")
              img(src="./images/icons/search.svg")
        .col.col-auto.navbar-menu-button
          button
            span
            span
            span