section.slider-section
  .container
    .slider#main-slider.row
      .slider-main-wrap.col.col-lg-7.col-12
        .row
          .slider-main
            .slider-item
              img(src="./images/main-slider.png")
            .slider-item
              img(src="./images/main-slider.png")
            .slider-item
              img(src="./images/main-slider.png")
          .slider-counter
            span.slider-counter-current 1
            span &nbsp;/&nbsp;
            span.slider-counte-allr 3
      .slider-text.col.col-lg-5.col-12
        .slider-texts
          .slider-item 
            .slider-item-text Поздравляем вас с 75-летием Победы в Великой Отечественной войне!
            .slider-item-link
              a.arrow-link(href="#") подробнее
          .slider-item 
            .slider-item-text Поздравляем вас с 75-летием Победы в Великой Отечественной войне!
            .slider-item-link
              a.arrow-link(href="#") подробнее
          .slider-item 
            .slider-item-text Поздравляем вас с 75-летием Победы в Великой Отечественной войне!
            .slider-item-link
              a.arrow-link(href="#") подробнее
        .slider-control
          .slider-dots
            span.slider-dot.active
            span.slider-dot
            span.slider-dot