section.media-section
  .container
    .row
      .col.col-lg-4.offset-lg-1.col-12.mb-5
        .mission-title.mission-title--white
          h2.mission-title-main Сохранение здоровья и улучшение качества жизни!
          .mission-title-sub
            a.arrow-link.arrow-link--black(href="#") подробнее
      .col.col-lg-7.col-12
        .media-slider
          .slider-item
            img(src="./images/media-slide-1.png", alt="")
          .slider-item
            img(src="./images/media-slide-2.png", alt="")
          .slider-item.slider-item-video
            img(src="./images/media-slide-3.png", alt="")
          .slider-item
            img(src="./images/media-slide-1.png", alt="")
          .slider-item
            img(src="./images/media-slide-2.png", alt="")
          .slider-item
            img(src="./images/media-slide-3.png", alt="")