section.about-section
  .container
    .row
      .col.col-lg-4.offset-lg-1.col-12
        .mission-title.anim.fade-in
          .mission-title-pre Миссия госпиталя
          h2.mission-title-main Сохранение здоровья и улучшение качества жизни!
      .col.col-lg-5.offset-lg-1.col-12
        .about.anim.fade-in.fade-in-right
          h2.about-title
            span.about-title-icon
              img(src="./images/icons/about-icon.svg")
            span О госпитале
          .about-text
            p Центральный клинический госпиталь для инвалидов Отечественной войны является одним из двух специализированных лечебно - профилактических учреждений Казахстана, где получают квалифицированное лечение и реабилитацию инвалиды и участники Великой Отечественной войны и лица, приравненные к ним по получению льгот. Здание имеет большую историческую ценность, является памятником архитектуры Казахстана.
          .about-link
            a.arrow-link(href="#") подробнее о клинике