section.mobile-menu-wrap#mobile-menu
  .mobile-menu-close
  .mobile-menu-inner
    header.mobile-menu-header
      .mobile-menu-logo
        a(href="#")
          img(src="./images/logo.svg")
      form.mobile-menu-search
        input(id="site-search")
        button(type="submit")
          img(src="./images/icons/search.svg")

    .mobile-menu
      ul
        li.active
          a(href="#") О госпитале
        li
          a(href="#") Корпоративное управление
        li
          a(href="#") Пациентам
        li
          a(href="#") Пресс центр

      ul
        li
          a(href="#") Государственны закупки
        li
          a(href="#") Полезная информация

    footer.mobile-menu-footer
      .mobile-menu-tel
        a(href="tel:+77172251940") +7 7172 251940
      .mobile-menu-soc
        a(href="#")
          img(src="./images/icons/facebook-black.svg")
        a(href="#")
          img(src="./images/icons/youtube-black.svg")
        a(href="#")
          img(src="./images/icons/instagram-black.svg")