section.news-section
  .container
    .row
      .col.col-auto
        h2.news-section-title 
          span.icon
            img(src="./images/icons/news-icon.svg")
          span Новости
      .col.col-auto.ml-auto
        a.arrow-link.arrow-link--black(href="#") все новости
    .row
      .col-12.news-slider
        .slider-item
          .news-item
            time.news-date 13.04.2020
            .news-img
              img(src="./images/news.png")
            h3.news-title Итоги конкурса рисунков "Победа, Здоровье, Весна"
            .news-text
              p Благодарим за участие всех детей! По итогам голосования и оценке внешнего эксперта были определены лучшие работы.
        .slider-item
          .news-item
            time.news-date 13.04.2020
            .news-img
              img(src="./images/news.png")
            h3.news-title Поздравляем вас с праздником Наурыз!
            .news-text
              p В это непростое время мы от всей души хотим поздравить вас с праздником Наурыз!
        .slider-item
          .news-item
            time.news-date 13.04.2020
            .news-img
              img(src="./images/news.png")
            h3.news-title Стратегическое развитие 2017-2021 – новые задачи, новые цели, новые управленческие решения
            .news-text
              p Предприятие сформулировало миссию, определила цели, задачи, целевые индикаторы и показатели результатов своей деятельности.
        .slider-item
          .news-item
            time.news-date 13.04.2020
            .news-img
              img(src="./images/news.png")
            h3.news-title Итоги конкурса рисунков "Победа, Здоровье, Весна"
            .news-text
              p Благодарим за участие всех детей! По итогам голосования и оценке внешнего эксперта были определены лучшие работы.
        .slider-item
          .news-item
            time.news-date 13.04.2020
            .news-img
              img(src="./images/news.png")
            h3.news-title Поздравляем вас с праздником Наурыз!
            .news-text
              p В это непростое время мы от всей души хотим поздравить вас с праздником Наурыз!
        .slider-item
          .news-item
            time.news-date 13.04.2020
            .news-img
              img(src="./images/news.png")
            h3.news-title Стратегическое развитие 2017-2021 – новые задачи, новые цели, новые управленческие решения
            .news-text
              p Предприятие сформулировало миссию, определила цели, задачи, целевые индикаторы и показатели результатов своей деятельности.