section.services-section
  .container
    .row
      .col.col-lg-4.offset-lg-1.col-12.mb-4
        .icon.icon--white
          img(src="./images/icons/services-icon.svg")
        h2.services-title Услуги госпиталя
        ul.services-list
          li Бесплатно услуги оказываются  прикрепленному контингенту
          li Консультативно-диагностическое отделение
          li Платные медицинские услуги

      .col.col-12.col-lg-6.offset-lg-1.mb-4
        .team
          .team-img
            img(src="./images/team-main.png")
          .team-text
            .icon.icon--white
              img(src="./images/icons/team-icon.svg")
            .team-position Директор
            .team-name Уразалина Динара Аманболовна
            button.btn.btn-flat.btn-primary.btn-lg(data-toggle="modal" data-target="#serviceModal") Задать вопрос

  .modal.fade#serviceModal(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h3.modal-title Вопрос администрации госпиталя
          .mobile-menu-close.close(data-dismiss="modal")
        .modal-body
          form.modal-form
            label.modal-form-group
              span Ваше Ф.И.О.
              input(required="true")
            label.modal-form-group
              span Ваше Ф.И.О.
              input(required="true")
            label.modal-form-group
              span Ваше Ф.И.О.
              textarea
            .modal-form-action
              button.btn.btn-primary.btn-lg Отправить