section.sign-section
  .container
    .row
      .col.col-12.col-lg-6.mb-4.anim.fade-in
        .bordered-block.d-flex.flex-wrap.align-items-center.justify-content-center
          .sign-item
            .sign-img
              img(src="./images/sign-1.png")
            .sign-text Флаг 
          .sign-item
            .sign-img
              img(src="./images/sign-2.png")
            .sign-text Герб
          .sign-item
            .sign-img
              img(src="./images/sign-3.png")
            .sign-text Гимн
      .col.col-12.col-lg-6.mb-4.anim.fade-in.fade-in-right
        .bordered-block.d-flex.flex-wrap.align-items-center.justify-content-center
          .sign-item.d-flex.align-items-center.text-left.p-4.justify-content-center
            .sign-img.mr-4.my-0
              img(src="./images/sign-4.png")
            .sign-text.my-0 Министерство<br>здравоохранения<br>Республики Казахстан